<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphify</title>
    <link rel="icon" href="{{ url_for('static', filename='logo_nobg.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='logo_nobg.png') }}" alt="Graphify Logo" style="width: 75px; height: auto;">
        <h1>Graphify</h1>
    </div>

    <div class="search-container">
        <form method="POST">
            <label for="artist_name">Enter Artist Name:</label>
            <input type="text" id="artist_name" name="artist_name" required>
            <div class="button-container">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="/refresh" method="post" style="margin-top: 20px;">
            <button type="submit">Clear</button>
        </form>
    </div>

    {% if artist %}
        <div class="artist-info">
            <h1>{{ artist["name"] }}</h1>
            <h2>Popularity: {{ artist["popularity"] }}</h2>
            {% if artist["genres"] %}
                <h2>Genres: {{ artist["genres"] | map('title') | join(", ") }}</h2>
            {% endif %}
        </div>
        {% if "error" in artist %}
            <p>{{ artist["error"] }}</p>
        {% else %}
            <div class="album-container">
                <h3>Top Albums:</h3>
                <ul class="album-list">
                    {% for album in albums %}
                        <li>
                            <strong>{{ album["name"] }}</strong>
                            <br>
                            <img src="{{ album['image'] }}" alt="Album Cover" width="100">
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="track-container">
                <h3>Top Tracks:</h3>
                <ol class="track-list">
                    {% for track in tracks %}
                        <li>
                            <strong>{{ track["name"] }}</strong> (Popularity: {{ track["popularity"] }})
                            <br>
                            Album: {{ track["album_name"] }}
                            <br>
                            <img src="{{ track["album_image"] }}" alt="Album Cover" width="100">
                            <br>
                            <a href="{{ track["track_url"] }}" target="_blank">Listen on Spotify</a>
                            {% if track["preview_url"] %}
                                <br>
                                <audio controls>
                                    <source src="{{ track["preview_url"] }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>

            {% if track_analysis %}
                <div class="analysis-container">
                    <h3>Popularity Analysis</h3>
                    <h4>Average: {{ track_analysis["average_popularity"] }}</h4>
                    <h4>Max: {{ track_analysis["max_popularity"] }}</h4>
                    <h4>Min: {{ track_analysis["min_popularity"] }}</h4>
                    <h4>Standard Deviation: {{ track_analysis["std_dev_popularity"] }}</h4>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if plot_path %}
        <h3>Track Popularity Visualization:</h3>
        <img src="{{ plot_path }}" alt="Track Popularity Bar Chart" width="600">
    {% endif %}

    <hr>
    <form method="POST" action="/genre_analysis">
        <label for="year">Enter Year for Genre Analysis:</label>
        <input type="number" id="year" name="year" min="1900" max="{{ current_year }}" required>
        <button type="submit">Get Top Genres</button>
    </form>

    <div class="genre_year_container">
        {% if genre_data %}
            <h3>Top Genres for {{ genre_year }}</h3>
            <div class="genre_year_image">
                {% if genre_plot_path %}
                    <img src="{{ genre_plot_path }}" alt="Genre Popularity Bar Chart" width="600">
                {% endif %}
            </div>
        {% endif %}
    </div>

    <hr>
    <div class="form-container">
        <form method="POST" action="/genre_artists">
            <label for="genre_select" class="form-label">View Top Artists by Genre:</label>
            <div class="form-group">
                <select name="genre_name" id="genre_select" class="form-select" required>
                    <option value="" disabled selected>Select Genre</option>
                    <option value="pop">Pop</option>
                    <option value="rock">Rock</option>
                    <option value="hip hop">Hip Hop</option>
                    <option value="indie">Indie</option>
                    <option value="latin">Latin</option>
                    <option value="k-pop">K-Pop</option>
                    <option value="j-pop">J-Pop</option>
                    <option value="r&b">R&B</option>
                </select>
                <button type="submit" class="form-button">Get Top Artists</button>
            </div>
        </form>
    </div>

    {% if genre_artist_data %}
        <h3>Top Artists in {{ selected_genre.title() }}</h3>
        <div class="genre_year_image">
            {% if genre_artist_plot %}
                <img src="{{ genre_artist_plot }}" alt="Top Artists Bar Chart" width="600">
            {% endif %}
        </div>
    {% endif %}

    <hr>
</body>
</html>